$primary-color: #5989ff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px solid red;
  // outline: none;
}

html {
  font-size: 62.5%;
}

html,
body {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-size: clamp(14px, 1.6rem, 2vw);
}

ul {
  list-style: none;
}

@mixin flex($align, $justify) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}
