@import "_global";

#result {
  // @include flex(flex-start, center);
  // gap: 1rem;

  li {
    @include flex(flex-start, flex-start);
    gap: 1rem;

    span {
      text-transform: capitalize;
      font-weight: bolder;
    }

    & + li {
      margin-top: 1rem;
    }
  }
}
